/* css styles */

#quarto-document-content {
  background-color: #ffffff !important;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 1em;
  margin-top: 1em;
}

#quarto-margin-sidebar {
  background-color: #ffffff !important;
  margin-top: 1em;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 0.5em;
}

body {
  font-size: 16px;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(images/CCR_2018_v2.jpg);
  background-repeat: no-repeat;
}

